/*界面体设置*/
body {
    line-height: 1;
    background: #d8d6d8 url(../img/body-bg.png);
    /*min-width: 320px;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px
}

html, body {
    min-height: 100%;
    height: 100%;
    overflow: visible;
}

/*电脑*/
@media screen and (max-width: 5000px) and (min-width: 1000px) {
    /*欢迎访问背景*/
    .welcome_head {
        font-size: 20px;
        width: auto;
        height: 70px;
        padding-left: 30px;
        color: greenyellow;
        background-image: url(../img/welcom_titl_backgound.jpg);
        vertical-align: middle;
        text-align: left;
        margin-bottom: 20px;
    }

    /*欢迎访问字体上下居中*/
    .welcome_head h1 {
        padding-top: 20px;
    }

    /*返回主界面*/
    .a_main {
        color: greenyellow;
        background-image: url(../img/homepage.png);
        background-size: 55px 55px;
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0px;
        top: 15px;
        padding-top: 50px;
        padding-left: 6px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
    }

    /*待提交作业边缘设置*/
    .homework_unpost {
        margin-bottom: 20px;
        border-radius: 3px;
    }

    /*待提交作业 头标题背景设置*/
    .unpost_head {
        background: url(../img/grad-overlay-s.png) #393939;
        border-radius: 2px;
        height: 40px;
    }

    /*待提交作业 字体大小设置*/
    .unpost_head h2 {
        padding: 6px 10px;
        color: #ddd;
        font-size: 28px;
        font-weight: 600;
        text-shadow: 0 1px 0 #222;
    }

    /*待提交作业列表宽度设置*/
    table {
        width: 100%;
    }

    /*设置已提交作业距离上面的边距*/
    .posted {
        margin-top: 6%;
    }

    /*已提交作业 头标题背景设置*/
    .posted_head {
        background: url(../img/grad-overlay-s.png) #393939;
        border-radius: 2px;
        height: 40px;
    }

    /*已提交作业 字体大小设置*/
    .posted_head h2 {
        padding: 6px 10px;
        color: #ddd;
        font-size: 28px;
        font-weight: 600;
        text-shadow: 0 1px 0 #222;
    }

    /*作业名称等标题背景*/
    table thead tr {
        background-image: url(../img/grad-overlay.png);
        height: 30px;
        text-align: center;
    }

    /*作业名称等标题*/
    table thead th {
        border-right: 1px solid #ccc;
        color: #292929;
        text-shadow: 0 1px 0 #fff;
        font-size: 23px;
        padding-top: 4px;
    }

    /*作业条目设置*/
    table tbody tr {
        height: 60px;
        text-align: center;
        background-color: #fff;
    }

    table tbody tr:hover {
        background-color: #ddd;
    }

    /*鼠标悬浮*/
    table tbody tr td {
        font-size: 20px;
        text-align: center;
    }

    /*上传设置*/
    .file {
        margin: 0 auto;
        width: 250px;
    }

    input {
        /*上传显示字体大小*/
        font-size: 20px;
    }

    /*撤回重传按钮设置*/
    .withdraw {
        margin: 0 auto;
        width: 150px;
        font-size: 20px;
    }

    /*底部友情链接*/
    .footer {
        text-align: center;
    }

    .decoration {
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        display: block;
        clear: both;

    }

    .socials {
        width: 150px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn1 {
        float: left;
        position: relative;
        top: 0;
        cursor: pointer;
        background: white;
        margin: 0 0 7px 12px;
        color: #888;
        text-align: center;
        user-select: none;
        transition: all 0.2s ease;
    }

    .btn-radius-small {
        line-height: 32px;
        width: 30px;
        height: 30px;
        font-size: 130%;
        border-radius: 100%;
        margin: 10px;
    }

    .mainlink {
        background: #3f3f3f;
        color: greenyellow;
    }

    .mainlink:hover {
        background: #3f3f3f;
        color: red;
    }

    .mainlink:active {
        box-shadow: 0px 0px #717a33;
        top: 4px;
    }

    .copyright {
        margin-bottom: 20px;
    }
}

/*手机*/
@media screen and (max-width: 1000px) {
    /*欢迎访问背景*/
    .welcome_head {
        font-size: 25px;
        width: auto;
        height: 100px;
        padding-left: 30px;
        color: greenyellow;
        background-image: url(../img/welcom_titl_backgound.jpg);
        vertical-align: middle;
        /*text-align: center;*/
        margin-bottom: 40px;
    }

    /*欢迎访问字体上下居中*/
    .welcome_head h1 {
        padding-top: 30px;
    }

    /*返回主界面*/
    .a_main {
        color: greenyellow;
        background-image: url(../img/homepage.png);
        background-size: 72px 72px;
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0px;
        top: 20px;
        padding-top: 75px;
        padding-left: 10px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
    }

    /*待提交作业边缘设置*/
    .homework_unpost {
        margin-top: 60px;
        margin-bottom: 20px;
        border-radius: 3px;
    }

    /*待提交作业 头标题背景设置*/
    .unpost_head {
        background-color: #4cae4c;
        border-radius: 2px;
        height: 80px;
    }

    /*待提交作业 字体大小设置*/
    .unpost_head h2 {
        padding: 12px 10px;
        /*color: #ddd;*/
        color: black;
        font-size: 55px;
        font-weight: 500;
        text-shadow: 0 1px 0 #222;
        display: inline-flex;
        margin-top: 4px;
        margin-left: 10px;
    }

    /*待提交作业列表宽度设置*/
    table {
        width: 100%;
    }

    /*已提交作业 头标题背景设置*/
    .posted_head {
        background-color: #4cae4c;
        border-radius: 2px;
        height: 80px;
    }

    /*已提交作业 字体大小设置*/
    .posted_head h2 {
        padding: 12px 10px;
        /*color: #ddd;*/
        color: black;
        font-size: 55px;
        font-weight: 500;
        text-shadow: 0 1px 0 #222;
        display: inline-flex;
        margin-top: 4px;
        margin-left: 10px;
    }

    /*作业名称等标题背景*/
    table thead tr {
        background-image: url(../img/grad-overlay.png);
        height: 30px;
        text-align: center;
    }

    /*作业名称等标题*/
    table thead th {
        border-right: 1px solid #ccc;
        /*color: #999999;*/
        /*background-color: #00ddeb;*/
        /*color: #1f1f1f;*/
        color: black;
        text-shadow: 0 1px 0 #fff;
        font-size: 40px;
        padding-top: 4px;
    }

    /*作业条目设置*/
    table tbody tr {
        height: 120px;
        text-align: center;
        font-weight: bold;
        /*background-color: azure;*/
        background-color: white;
    }

    table tbody tr:hover {
        background-color: #cacaca;
    }

    /*鼠标悬浮*/
    table tbody tr td {
        font-size: 25px;
        text-align: center;
        line-height: 120px
    }

    /*已提交作业边缘设置*/
    .posted {
        margin-top: 40%;
        margin-bottom: 20px;
        border-radius: 3px;
    }

    /*上传设置*/
    .file {
        margin: 0 auto;
        width: 150px;
        margin-bottom: 15px;
    }

    input {
        /*上传显示字体大小*/
        font-size: 25px;
        font-weight: bold;
    }

    /*撤回重传按钮设置*/
    .withdraw {
        margin: 0 auto;
        width: 120px;
        font-size: 25px;
        vertical-align: middle;
        padding-top: 8px;
        font-weight: bold;
    }

    /*底部友情链接*/
    .footer {
        text-align: center;
    }

    .decoration {
        margin-bottom: 230px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .socials {
        width: 250px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn1 {
        float: left;
        position: relative;
        top: 0;
        cursor: pointer;
        background: white;
        margin: 0 0 7px 12px;
        color: #888;
        text-align: center;
        user-select: none;
        transition: all 0.2s ease;
    }


    .btn-radius-small {
        line-height: 64px;
        width: 60px;
        height: 60px;
        font-size: 260%;
        border-radius: 100%;
        margin: 10px;
    }

    .mainlink {
        background: #3f3f3f;
        color: greenyellow;
    }

    .mainlink:hover {
        background: #3f3f3f;
        color: red;
    }

    .mainlink:active {
        box-shadow: 0px 0px #717a33;
        top: 4px;
    }

    .copyright {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
}








