<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AssetClassifyMapper">

	<resultMap type="AssetClassify" id="AssetClassifyResultMap">
		<id column="number" property="number"/>
		<result column="name" property="name"/>
		<result column="pId" property="pId"/>
		<result column="open" property="open"/>
		<result column="isuse" property="isuse"/>
		<result column="orderSort" property="orderSort"/>
		<result column="parentSort" property="parentSort"/>
		<result column="coding" property="coding"/>
	</resultMap> 

	<!-- 增加原始节点 -->
	<insert id="addPoint" parameterType="pd" flushCache="false">
		insert into asset_classify(
			name,
			pId,
			open,
			isuse,
			orderSort
		)values(
			#{name},
			"0",
			"false",
			"false",
			#{orderSort}
		)	
	</insert>
	
	<!-- 增加孩子节点 -->
	<insert id="addChildPoint" parameterType="pd" flushCache="false">
		
		insert into asset_classify(
			name,
			pId,
			open,
			isuse,
			orderSort,
			parentSort,
			coding
		)values(
			#{name},
			#{pId},
			"false",
			"false",
			#{orderSort},
			#{parentSort},
			#{coding}
		)	
	</insert>
	
	<!-- 查询项目列表 -->
	<select id="listAllPoint" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		order by number desc; 
	</select>
	
	<!-- 查询所有父类节点 -->
	<select id="listAllParentPoint" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		where pId = "0"
	</select>
	
	<!-- 查询父节点对应的所有孩子节点 -->
	<select id="listChildPoint" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		where pId = #{pId}
	</select>
	
	<!-- 查询孩子添加孩子节点对应的父节点 获取起序列号 -->
	<select id="getParentPoint" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		where number = #{pId}
	</select>
	

	
	
	<!-- 查询节点的使用情况 -->
	<select id="searchPointZi" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from products_info 
		where 
			product_flag = 0
		and
			product_name = #{name}
		 
	
	</select>
	
	<!-- 查询节点的使用情况 -->
	<select id="searchPointFu" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from products_info 
		where 
			product_flag = 0
		and
			product_class = #{name}
	
	</select>
	
	<!-- 删除节点 -->
	<delete id="delectPoint" parameterType="pd" flushCache="false">
		delete from asset_classify
		where 
			number = #{number}
		or pId = #{number}
	</delete>
	
	<!-- 查询资产类别是否存在-->
	<select id="findByClass" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		where 
			name = #{name}
			and pId = 0
	
	</select>
	
	
	<!-- 查询资产名称是否存在-->
	<select id="findByAssetName" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		where 
			name = #{name}
			and pId = #{pId}
	</select>
	
	<!-- 查询资产类别是否存在-->
	<select id="findByNumber" parameterType="pd" resultType="pd" useCache="false">
		select  *
		from asset_classify 
		where 
			number = #{number}
	
	</select>

	<!-- 查找类别是够有该类 lss -->
	<!-- <select id="find_class_ishas" parameterType="pd" resultType="pd">
		select * from asset_classify
		where 
		 
	</select> -->

</mapper>