<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AssetCountMapper">
	
	<!-- 按资产类别计算资产价格和 -->
	<select id="findTotalPrice"  parameterType="pd"  resultType="java.math.BigDecimal" useCache="false">
 		select sum(asset_price)
 		from asset_info
 		where
 		asset_class = #{asset_class}
 	</select>
	
	</mapper>